@font-face {
    font-family: "gilroy", sans-serif;
    src: url(../fonts/gilroy-regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "gilroy", sans-serif;
    src: url(../fonts/gilroy-medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "gilroy", sans-serif;
    src: url(../fonts/gilroy-bold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "gilroy", sans-serif;
    src: url(../fonts/gilroy-semibold.ttf);
    font-weight: 700;
}

body {
    background: #FFF;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

h1, p {
    margin: 0;
}

html {
    font-family: "gilroy", sans-serif;
}

.header {
    margin-top: 45px;
    margin-bottom: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
}

.header__menu {
    width: 533px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu__item {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.top__content {
    display: flex;
    justify-content: center;
    gap: 41px;
}

.top__info {
    width: 545px;
    color: #000;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 17px;
}

.top_text {
    width: 466px;
    color: #888;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 37px;
}

.top__button__wrapper {
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background-color: #F25822;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 0;
    color: #FFF;
}

.top__button {
    font-size: 15px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 72px;
}

.top__button__href {
    color: #AAA;
    text-decoration: none;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 260px;
}
