/*@font-face {*/
/*    font-family: "Lato", sans-serif;*/
/*    src: url(//fonts/Lato-Thin.ttf);*/
/*    font-weight: 100;*/
/*}*/
/*@font-face {*/
/*    font-family: "Lato", sans-serif;*/
/*    src: url(//fonts/Lato-Light.ttf);*/
/*    font-weight: 300;*/
/*}*/
/*@font-face {*/
/*    font-family: "Lato", sans-serif;*/
/*    src: url(//fonts/Lato-Black.ttf);*/
/*    font-weight: 400;*/
/*}*/
/*@font-face {*/
/*    font-family: "Lato", sans-serif;*/
/*    src: url(//fonts/Lato-Bold.ttf);*/
/*    font-weight: 700;*/
/*}*/
/*@font-face {*/
/*    font-family: "Lato", sans-serif;*/
/*    src: url(//fonts/Lato-Black.ttf);*/
/*    font-weight: 900;*/
/*}*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html {
    font-family: "Lato", sans-serif;
}

body {
    margin: 0;
    /*width: 1600px;*/
}

h1, p {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    background-color: #222;
    height: 75px;
}

.center {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}


.logo__search {
    display: flex;
    align-items: center;
    gap: 41px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}


.preview {
    background-color: #F1E4E6;
    display: flex;
    justify-content: center;
}
.preview__img{
    max-width: 50%;
}
.preview__wrapper {
    width: 1600px;
    display: flex;
    align-items: center;
    gap: 63px;
}
.rectangle {
    width: 12px;
    height: 92px;
    background: #F16D7F;
}
.preview__title__wrapper {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 16px;

}
.preview__title {
    color: #222;
    font-size: 49px;
    font-weight: 700;

}
.preview__subtitle {
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.offer {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    margin-top: 65px;
    margin-bottom: 96px;
    background: white;
}
.offer__wrapper {
    position: relative;
    text-align: center;
}
.for__women__men__kids {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.image__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.white__text {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}
.pink__text {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}


.products__title {
    text-align: center;
    color: #222;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 6px;
}
.products__subtitle {
    text-align: center;
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
}
.products__wrapper {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(2, 587px);
    gap: 25px 30px;
}
.product__cards {
    display: flex;
    flex-direction: column;
    background: #F8F8F8;
}
.product__content{
    display: flex;
    flex-direction: column;
    padding: 25px 16px;
    gap: 16px;
}
.product__name {
    color: #000;
    font-size: 13px;
    font-weight: 700;
}
.product__description {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
}
.product__price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400
}
.products__button__wrapper {
    text-align: center;
    margin: 48px auto;
}
.products__button {
    color: #F26376;
    font-size: 16px;
    background: white;
    padding: 15px 40px;
    border: 1px solid #FF6A6A;
}


@media screen and (max-width: 1439px){
    img {
        max-width: 100%;
    }


    .navigation {
        max-width: 768px;
        width: 100%;
        padding: 0 35px;
    }
    .center {
        max-width: 100%;
        /*min-width: 735px;*/
        /*margin: 65px 16.5px 110px 16.5px;*/
        /*padding-left: 16.5px ;*/
        /*padding-right: 16.5px;*/
    }

    .preview__wrapper {
        max-width: 100%;
        /*width: 768px;*/
        gap: 40px;
    }
    .preview__img {
        max-width: 50%;
    }
    .preview__title {
        font-size: 44px;
    }
    .preview__subtitle {
        font-size: 24px;
    }
    .offer {
        gap: 20px;
    }
    .for__women__men__kids {
        margin: 0 16.5px 0 16.5px;
        gap: 20px;
    }
    .accessories {
        margin: 0 16.5px 0 16.5px;
    }
    .products__wrapper {
        margin-top: 73px;
        gap: 16px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .products__wrapper{
        margin-left: 16.5px;
        margin-right: 16.5px;
    }
}

@media screen and (max-width: 767px) {
    img {
        max-width: 100%;
    }
    .preview__img {
     display: none;
    }
    .preview__wrapper {
        justify-content: center;
    }
    .preview__title__wrapper {
        padding: 148px 56px;
        /*grid-template-columns: auto auto;*/
    }
    .rectangle {
        height: 61px;
    }
    .preview__title {
        font-size: 38px;
    }
    .preview__subtitle{
        font-size: 20px;
    }

    .for__women__men__kids {
        grid-template-columns: 1fr;
        gap: 32px;
    }


    .products__subtitle {
        padding: 0 16px;
    }
    .products__wrapper {
        grid-template-columns: 1fr;
        margin-right: 8px;
        margin-left: 8px;
    }
}
