/*@font-face {*/
/*    font-family: "Lato", sans-serif;*/
/*    src: url(//fonts/Lato-Thin.ttf);*/
/*    font-weight: 100;*/
/*}*/
/*@font-face {*/
/*    font-family: "Lato", sans-serif;*/
/*    src: url(//fonts/Lato-Light.ttf);*/
/*    font-weight: 300;*/
/*}*/
/*@font-face {*/
/*    font-family: "Lato", sans-serif;*/
/*    src: url(//fonts/Lato-Black.ttf);*/
/*    font-weight: 400;*/
/*}*/
/*@font-face {*/
/*    font-family: "Lato", sans-serif;*/
/*    src: url(//fonts/Lato-Bold.ttf);*/
/*    font-weight: 700;*/
/*}*/
/*@font-face {*/
/*    font-family: "Lato", sans-serif;*/
/*    src: url(//fonts/Lato-Black.ttf);*/
/*    font-weight: 900;*/
/*}*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html {
    font-family: "Lato", sans-serif;
}

body {
    margin: 0;
    /*width: 1600px;*/
}

h1, p {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    background-color: #222;
    height: 75px;
}

.center {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}


.logo__search {
    display: flex;
    align-items: center;
    gap: 41px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.navigation__icons {
    display: flex;
    gap: 25px;
}

.header_icon_list__drop-down-menu {
    display: none;
    position: fixed;
    top: 75px;
    right: 0;
    background-color: white;
    width: 232px;
    height: 700px;
    z-index: 2;
}
.navigation__icons:hover .header_icon_list__drop-down-menu {
    display: block;
}
.drop-down-menu__title {
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 24px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.drop-down-menu__subtitle {
    padding-left: 32px;
    padding-bottom: 12px;
    color: #F16D7F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.drop-down-menu__point {
    padding-left: 54px;
    padding-bottom: 12px;
    color: #6F6E6E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /*margin: 12px 54px;*/
}

.basket {
    position: relative;
}
.basket::after {
    position: absolute;
    content: "5";
    top: -10px;
    right: -10px;
    width: 19px;
    height: 19px;
    background-color: #F16D7F;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.preview {
    background-color: #F1E4E6;
    display: flex;
    justify-content: center;
}
.preview__img{
    max-width: 50%;
}
.preview__wrapper {
    width: 1600px;
    display: flex;
    align-items: center;
    gap: 63px;
}
.rectangle {
    width: 12px;
    height: 92px;
    background: #F16D7F;
}
.preview__title__wrapper {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 16px;

}
.preview__title {
    color: #222;
    font-size: 49px;
    font-weight: 700;

}
.preview__subtitle {
    min-width: 240px;
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.offer {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    margin-top: 65px;
    margin-bottom: 96px;
    background: white;
}
.offer__wrapper {
    position: relative;
    text-align: center;
}
.for__women__men__kids {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.image__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.white__text {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}
.pink__text {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}


.products__title {
    text-align: center;
    color: #222;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 6px;
}
.products__subtitle {
    text-align: center;
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
}
.products__wrapper {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(2, 587px);
    gap: 25px 30px;
}
.product__cards {
    display: flex;
    flex-direction: column;
    background: #F8F8F8;
}
.product__cards__pre-order {
    display: flex;
    flex-direction: column;
    position: relative;
}
.product__cards__pre-order::after {
    content: "";
    background-color: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}
.product__cards__pre-order .products__cards__button {
    display: none;
    border: 1px solid #FFF;
    background-color: inherit;
    width: 139px;
    height: 44px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
}
.product__cards__pre-order:hover::after {
    display: block;
}
.product__cards__pre-order:hover .products__cards__button {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 11px;
    background-color: inherit;
}


.product__content{
    display: flex;
    flex-direction: column;
    padding: 25px 16px;
    gap: 16px;
}
.product__name {
    color: #000;
    font-size: 13px;
    font-weight: 700;
}
.product__description {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
}
.product__price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400
}
.products__button__wrapper {
    text-align: center;
    margin: 48px auto;
}
.products__button {
    color: #F26376;
    font-size: 16px;
    background: white;
    padding: 15px 40px;
    border: 1px solid #F26376;
}
.products__button:hover {
    color: white;
    background: #F26376;
}


.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 95px;
    padding-top: 48px;
    padding-bottom: 64px;
    background-color: #222224;
}
.icon {
    text-align: center;
}
.feature__title {
    padding-top: 20px;
    padding-bottom: 16px;
    text-align: center;
    color: #FBFBFB;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.feature__subtitle {
    max-width: 360px;
    text-align: center;
    color: #FBFBFB;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.subscribe {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 97px;
    padding-bottom: 126px;
    background-image: url("../images/background_photo.jpg");
    background-size: cover;
    background-color: #cccccc;
}
.subscribe__face {
    text-align: center;
}
.subscribe__quote {
    padding-top: 30px;
    text-align: center;
    max-width: 360px;
    color: #222224;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.subscribe__title {
    text-align: center;
    color: #222224;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
}
.subscribe__subtitle {
    padding-bottom: 32px;
    text-align: center;
    color: #222224;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
}
.subscribe__enter_your_email {
    display: flex;
    flex-wrap: nowrap;
}
.subscribe__email {
    background-color: #E1E1E1;
    padding: 16px 64px 16px 22px;
    border: 0;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    color: #222224;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.671;
}
.subscribe__subscribe {
    background-color: #F16D7F;
    padding: 16px;
    border: 0;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222224;
    padding: 30px;
}
.footer__rights{
    color: #FBFBFB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer__hrefs__wrapper {
    display: flex;
    gap: 7px;
}
.footer__hrefs {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 32px;
    height: 32px;
}
.footer__hrefs:hover {
    background-color: #F16D7F;
}
.footer__hrefs:hover path{
    fill: white;

}


@media screen and (max-width: 1439px){
    img {
        max-width: 100%;
    }


    .navigation {
        max-width: 768px;
        width: 100%;
        padding: 0 35px;
    }
    .center {
        max-width: 100%;
    }

    .preview__wrapper {
        max-width: 100%;
        gap: 40px;
    }
    .preview__img {
        max-width: 50%;
    }
    .preview__title {
        font-size: 44px;
    }
    .preview__subtitle {
        font-size: 24px;
    }
    .offer {
        gap: 20px;
    }
    .for__women__men__kids {
        margin: 0 16.5px 0 16.5px;
        gap: 20px;
    }
    .accessories {
        margin: 0 16.5px 0 16.5px;
    }


    .products__wrapper {
        margin-top: 73px;
        gap: 16px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .products__wrapper{
        margin-left: 16.5px;
        margin-right: 16.5px;
    }
}

@media screen and (max-width: 767px) {
    img {
        max-width: 100%;
    }
    .navigation__icons img:nth-child(2), .basket{
        display: none;
    }
    .preview__img {
     display: none;
    }
    .preview__wrapper {
        justify-content: center;
    }
    .preview__title__wrapper {
        padding: 148px 56px;
    }
    .rectangle {
        height: 61px;
    }
    .preview__title {
        font-size: 38px;
    }
    .preview__subtitle{
        font-size: 20px;
    }

    .for__women__men__kids {
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .accessories {

    }


    .products__subtitle {
        padding: 0 16px;
    }
    .products__wrapper {
        grid-template-columns: 1fr;
        margin-right: 8px;
        margin-left: 8px;
    }

    .feature {
        flex-wrap: wrap;
        padding-bottom: 81px;
        gap: 47px
    }
    .subscribe {
        flex-wrap: wrap;
        padding-top: 64px;
        padding-bottom: 110px;
        gap: 60px;
    }
    footer {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding-top: 43px;
        gap: 40px;
    }
}
